.select {
  border-radius: 7px 7px 7px 7px;
}

.select:hover {
  transform: scale(1.15);
  box-shadow: 0 0 25px rgb(224, 224, 19);
  transition: transform 0.5s, box-shadow 0.5s;
}

.select_op2:hover {
  background-color: rgb(224, 224, 19);
}
